{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username">{{ 'Saisissez votre adresse mail'|trans }}</label>
        <input placeholder="adresse mail" class="form-control" type="email" id="username" name="username" required="required" />
    </div>
    <div>
        <input class=" btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
